.navbar {
    background-color: $primary-color;
    color: #fff;
    height: 70px;
    .container {
        @include flex ($justify: space-between);
    }
    a {
        color: #fff;
        padding: 1rem;                  // padding plutôt sur <a> que sur <li>
        margin: 0 0.5rem;
        &:hover {
            border-bottom: 2px #fff solid;
        }
    }

    ul {
        display: flex;
    }

}
