.navbar {
    background-color: $color-primary;
    color: $color-light;
    height: 70px;
    .container {
        @include flex ($justify: space-between);
    }
    a {
        color: $color-light;
        padding: 1rem;                  // padding plutôt sur <a> que sur <li>
        margin: 0 0.5rem;
        &:hover {
            border-bottom: 2px $color-light solid;
        }
    }

    ul {
        display: flex;
    }

}
