body {
    font-family: 'Lato', sans-serif;
    color: $color-text-dark;
    font-size: 1.6rem;
    line-height: 1.6;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-text-dark;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width : 100% // keep image within container
}

code, pre {
    @include background-txt($color-text-dark);
    padding: 1rem;
}

/* hidden class for Netlify form */
.hidden {
    visibility: hidden;
    height: 0;
}
