// Color palette
$color-primary : #047aed;
$color-secondary : #1c3fa8;
$color-dark : #002240;
$color-light: #f4f4f4;
$color-text-dark : #333;
$color-white: #fff;
$color-sublines: #b4becd;
$color-success : #5cb85c;
$color-error : #d9534f;

// basic grid template
$grid-base : 1fr 1fr;
$grid-gap-base : 2rem;

// padding and margin values
$margin: (
    xs: 1.6rem,
    s: 2.4rem,
    m: 3.2rem,
    l: 4.8rem,
    xl: 6.4rem
);

$padding: (
    xs: 1.6rem,
    s: 2.4rem,
    m: 3.2rem,
    l: 4.8rem,
    xl: 6.4rem
);

/* Text sizes */
$text-sizes : (
    lead: 2rem,
    s: 1.6rem,
    m: 3.2rem,
    l: 4.8rem,
    xl: 6.4rem
);

/* Background colors */
$background-palette: (
    primary: $color-primary,
    secondary: $color-secondary,
    dark: $color-dark,
    light: $color-light
);

/* Alert states */
$alert-states : (
    success: $color-success, 
    error : $color-error,
);

/* Media query breakpoints */
/* Mobiles & Tablets */
$breakpoints: (
    tablet: 768px,
    mobile: 500px
);